<!DOCTYPE html>
<html ng-app="blocmarksApp">
<head>
  <title>Blocmarks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="bookmarksCtrl">

  <%= render 'layouts/navbar' %>

  <div class="main-alerts">
    <!-- <% flash.each do |name, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %> -->
    <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="left col-sm-2 col-lg-2 no-padding">
        <%= render 'layouts/sidenav' %>
      </div>
      <div class="right col-sm-10 col-lg-10 main-content">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
